.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-announcements {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    margin-bottom: 100px;
}

.section-title1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.announcements {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.announcement-block {
    width: 400px;
    height: 350px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announcement-block img {
    width: 50%;
    height: auto;
    object-fit: cover;
    flex-grow: 1;
}

.announcement-text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement-text h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
}

.announcement-text p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
