.breadcrumb-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.breadcrumb {
    margin-left: 2%;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.breadcrumb-item {
    margin-right: 5px;
}

.breadcrumb-separator {
    margin: 0 5px;
    color: #ccc;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}
