/* Κεντρικό πλαίσιο */
.plhrwmh-container {
    margin: 1% 15%;
    height: auto;
    display: flex;
    flex-direction: column; /* Κάθετη διάταξη */
    align-items: center; /* Κεντράρισμα περιεχομένου */
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Τίτλος */
.plhrwmh title {
    font-size: 1.8rem;
    text-align: center; /* Κεντράρισμα τίτλου */
}

/* Εικόνα */
.plhrwmh-content {
    width: 100%;
    display: flex;
    justify-content: center; /* Κεντράρισμα εικόνας */
    align-items: center;
    margin: 10px 0;
}

.payment-img {
    width: 80%; /* Προσαρμογή πλάτους */
    height: auto;
    max-height: 350px;
    object-fit: cover;
    margin-top: 5%;
    margin-bottom: 20px;
}

/* Κουμπιά */
.plhrwmh-buttons-container {
    display: flex;
    justify-content: center; /* Κεντράρισμα κουμπιών */
    align-items: center;
    width: 100%;
    margin-top: -2%;
}

/* Κουμπιά - Προσαρμογή για ευκολότερη διαχείριση */
.plhrwmh-buttons-container button {
    padding: 10px 20px;
    margin: 0 10px; /* Κενό μεταξύ των κουμπιών */
    border: none;
    border-radius: 5px;
    background-color: #ccf5cc;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plhrwmh-buttons-container button:hover {
    background-color: #80ee80; /* Hover effect */
}

