/* Center the entire content */
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  padding: 20px;
  text-align: center;
  margin-bottom: 75px;
}

.search-h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

/* Style for each info box */
.info-box {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  width: 60%; /* Adjust width as needed */
  max-width: 800px; /* Max width of the box */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-box h2 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}

.info-box ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.info-box li {
  margin-bottom: 8px;
}
