/* Στυλ πλαισίου */
.confirmation-container {
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  background-color: #f9f9f9;
  max-width: 1000px;
  text-align: left;
}

/* Τίτλος */
.confirmation-container h2 {
  font-size: 1.7rem;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 5px;
}

.success-icon {
  color: green;
  font-size: 1.2rem;
  margin-left: 10px;
}

/* Περιγραφή */
.confirmation-container p {
  font-size: 1.1rem;
  margin: 20px 7%;
  text-align: left;
}

/* Σύνδεσμος λήψης */
.download-link {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 7%;
  color: blue;
  text-decoration: underline;
  font-size: 1.1rem;
}

.download-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

/* Κουμπιά */
.button-section {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 50px;
  margin-top: 20px;
}

.confirmation-container button {
  background-color: #9cd4ed;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  width: 150px;
  height: 70px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  margin: 0;
}

/* Hover Εφέ */
.confirmation-container button:hover {
  background-color: #3d97d7;
  text-decoration: underline;
}

/* Υπόλοιπο περιεχόμενο */
.sub-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.sub-description {
  text-align: left;
  margin-top: 10px;
  margin-left: 7%;
  margin-bottom: 180px;
  font-size: 1.1rem;
}

/* Εικόνα */
.confirm-image {
  flex: 1;
  max-width: 400px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 50px;
  margin-bottom: -100px;
}



/* Κουμπιά */
.button-section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.button-return-button4 {
  background-color: #9cd4ed;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  width: 150px;
  height: 70px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  margin: 0; /* Αφαίρεση εξωτερικής απόστασης */
}

.button-return-button4:hover {
  background-color: #3d97d7; /* Χρώμα Hover */
}

