/* Container που περιέχει την εικόνα */

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    margin-top: 30px; /* Προσθέτουμε μικρή απόσταση κάτω από το μενού */
    overflow: hidden;
}

/* Για την εικόνα που θέλουμε να κεντράρουμε */
.ntant {
    margin-top: -25px;
    width: 750px;
    height: auto;
    object-fit: cover;
}

/* Κείμενο που θα εμφανίζεται στην επάνω κεντρική περιοχή της εικόνας */
.overlay-text {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    max-width: 50%;
    text-align: left;
    margin-right: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    margin-top: 20px;
}

.button-section {
    width: 45%;
    text-align: center;
}

.button-section p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.action-button {
    display: inline-block;
    padding: 15px;
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}

.action-button:hover {
    background-color: #9cd4ed;
}

