.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    height: 130px;
}

/* Μετακινεί το logo πιο αριστερά */
.logo {
    width: 200px;
    padding: 10px ;
    height: auto;
    margin-left: 0; /* Κάνει το logo πιο κοντά στην αριστερή πλευρά */
}

/* Κεντράρει τον τίτλο ακριβώς στο κέντρο */
.title {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Στυλ για το login text */
.login-text {
    padding: 10px 20px;
    background-color: #9cd4ed;
    border-radius: 5px;
    cursor: pointer;
    transition: text-decoration 0.3s ease, background-color 0.3s ease;
}

/* Hover effect */
.login-text:hover {
    text-decoration: underline;
    background-color: #9cd4ed;
}
