.content-frame {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 1000px;
}


.pdf-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    max-width: 100%; /* Επέκταση στο μέγιστο πλάτος του container */
    height: auto; /* Αυτόματο ύψος για το container */
}

.pdf-frame {
    width: 80%; /* Ρύθμιση πλάτους στο 80% της σελίδας */
    max-width: 800px; /* Μέγιστο πλάτος */
    height: 150px; /* Μεγαλύτερο ύψος */
    border: 1px solid #ccc; /* Περίγραμμα */
    border-radius: 5px; /* Στρογγυλεμένες γωνίες */
}

.tooltip-message {
    white-space: pre-line; /* Προσθήκη υποστήριξης αλλαγής γραμμής */
    font-size: 14px;
    color: red;
    max-width: 300px; /* Προαιρετικό όριο πλάτους */
    line-height: 1.5; /* Καλύτερη απόσταση μεταξύ των γραμμών */
}
